# .github/workflows/build-module-readme.yml

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 'BUILD - Module README.md'

on:
  push:
    branches:
      - main
    paths:
      - 'modules/**/variables.tf'
      - 'modules/**/outputs.tf'
      - 'modules/**/README.md'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build:
    name: 'Module README Variables/Outputs'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TF_IN_AUTOMATION: true
      WORKFLOW_EMAIL: ${{ secrets.WORKFLOW_EMAIL }}
      WORKFLOW_USERNAME: ${{ secrets.WORKFLOW_USERNAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version: 1.0.11

      - name: Set environment
        run: |
          echo "GOOGLE_APPLICATION_CREDENTIALS=${GITHUB_WORKSPACE}/.github/workflows/fake-key.json" >> $GITHUB_ENV
          echo $GOOGLE_APPLICATION_CREDENTIALS # This will print the file path in GOOGLE_APPLICATION_CREDENTIALS variable
          # cat $GOOGLE_APPLICATION_CREDENTIALS # This will print the file content

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: tools
        
      - name: execute py script # run the tfdoc.py
        run: |
          python build_readme.py ${GITHUB_WORKSPACE}
        working-directory: tools   