# .github/workflows/check-license.yml

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 'BUILD - Check Lisence Boilerplate'

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  license:
    name: 'Files with no License'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TF_IN_AUTOMATION: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        # with:
        #   token: ${{ secrets.WORKFLOW_PAT }}

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: tools

      - name: execute py script # run the check_boilerplate.py
        id: boilerplate
        run: |
          output=$(python check_boilerplate.py ${GITHUB_WORKSPACE})
          echo "::set-output name=files::$output"
        working-directory: tools
        continue-on-error: true

      - name: print output
        run: |
          enter=$'\n'
          echo "The following files are missing the license boilerplate:$enter${{ steps.boilerplate.outputs.files }}"

      - name: 'Comment PR'
        uses: actions/github-script@0.3.0
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            enter=$'\n'
            const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
            github.issues.createComment({ issue_number, owner, repo, body: "The following files are missing the license boilerplate:$enter${{ steps.boilerplate.outputs.files }}" });
            exit 1